<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<property name="LOG_HOME" value="/data/log/wp-api" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="stdout" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/main.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/main.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>4</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %c\(%F:%L\) ## %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.meizi" level="info" additivity="false">
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="org.springframework.web.servlet.PageNotFound" level="off" additivity="false">
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.springframework.web.HttpRequestMethodNotSupportedException" level="off" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<root>
		<appender-ref ref="console" />
		<appender-ref ref="stdout" />
		<level value="warn" />
	</root>
</configuration>
